#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config VENDOR_AYN_ODIN_M0
	bool "AYN ODIN M0 support"
	help

config VENDOR_AYN_ODIN_M2
	bool "AYN ODIN M2 support"
	help

source "arch/$SRCARCH/Kconfig"
